@using DocViewer_ASP.Net_Core_6_MVC.Resources;
@{
    ViewData["Title"] = Resources.HomeTitle;
}

<div class="text-center">
    <h1 class="display-4">@Resources.Welcome</h1>

    <p>Language: @ViewBag.CurrentLanguage</p>
</div>
